.item {
    --padding-start: 8px !important;
    --padding-end: 0 !important;
    --inner-padding-end: 0 !important;
    --highlight-color-focused: none !important;
    --border-width: 0 !important; /* Hide Ionic's default border */
}

.item.item-lines-none {
    --border-width: 0 !important;
}

ion-textarea {
    --padding-top: 0 !important;
}

ion-textarea, ion-input {
    font-size: 13px;
    --color: var(--ion-text-color) !important;
}