.copyright-container {
  padding: 20px;
  color: var(--ion-color-step-400);
  font-size: 0.8rem;
  margin-top: auto;
  width: 100%;
}

.copyright-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
}

.copyright-text {
  text-align: left;
}

.updated-text {
  text-align: right;
}

body.dark .copyright-container {
  color: var(--ion-color-step-500);
}
